<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145421406440-ni8kk6mm2j5mfobedrppf1rnpoqp5aj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145421406440-ni8kk6mm2j5mfobedrppf1rnpoqp5aj5</string>
	<key>API_KEY</key>
	<string>AIzaSyDtkrcLYHqvA0lMo_rGxnspUlvBGFJs2sI</string>
	<key>GCM_SENDER_ID</key>
	<string>145421406440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyuphanakkaya.SalesApp</string>
	<key>PROJECT_ID</key>
	<string>salesapp-69556</string>
	<key>STORAGE_BUCKET</key>
	<string>salesapp-69556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145421406440:ios:2034c2ed72a84a2a67f95d</string>
</dict>
</plist>